@media ( max-width: 2000px) {

    .container { 
        position: relative; 
        width: 100%; 
        min-height: 1690px; 
        background-color: rgb(231, 248, 253); 
        margin: 50px; 
        display: grid;
        grid-template-columns: 1fr 2fr; 
        box-shadow: 0 35px 55px rgba(0,0,0,0.2);
    }

}

@media ( min-width: 600px) {

    .container { 
        position: relative; 
        width: 80%; 
        min-height: 1690px; 
        background-color: rgb(231, 248, 253); 
        margin: 50px; 
        display: grid;
        grid-template-columns: 1fr 2fr; 
        box-shadow: 0 35px 55px rgba(0,0,0,0.2);
    }

}

@media ( min-width:800px) {

    .container { 
        position: relative; 
        width: 80%; 
        min-height: 1690px; 
        background-color: rgb(231, 248, 253); 
        margin: 50px; 
        display: grid;
        grid-template-columns: 1fr 2fr; 
        box-shadow: 0 35px 55px rgba(0,0,0,0.2);
    }

}

@media ( min-width: 1000px) {

    .container { 
        position: relative; 
        width: 80%; 
        min-height: 1690px; 
        background-color: rgb(231, 248, 253); 
        margin: 50px; 
        display: grid;
        grid-template-columns: 1fr 2fr; 
        box-shadow: 0 35px 55px rgba(0,0,0,0.2);
    }

}

@media ( min-width: 1200px) {

    .container { 
        position: relative; 
        width: 60%; 
        min-height: 1690px; 
        background-color: rgb(231, 248, 253); 
        margin: 50px; 
        display: grid;
        grid-template-columns: 1fr 2fr; 
        box-shadow: 0 35px 55px rgba(0,0,0,0.2);
    }

}

@media ( min-width: 2000px) {

    .profile {

        position: absolute;
        z-index: 6;
        left: 84%;
        top: 11%;
    }

}

@media ( min-width: 600px) {

    .profile {

        position: absolute;
        z-index: 6;
        left: 80%;
        top: 11%;
    }
}

@media ( min-width: 800px) {

    .profile {

        position: absolute;
        z-index: 6;
        left: 77%;
        top: 11%;
        height:60%; 
        width:45%;
    }

}

@media ( min-width: 1000px) {

    .profile {

        position: absolute;
        z-index: 6;
        left: 74%;
        top: 11%;
        height:60%; 
        width:45%;
    }

}

@media ( min-width: 1200px) {

    .profile {

        position: absolute;
        z-index: 6;
        left: 67%;
        top: 11%;
        height:60%; 
        width:35%;
    }

}