* {margin: 0; padding: 0; box-sizing: border-box; font-family:Arial, Helvetica, sans-serif;}

body {

    background-color:lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container { 
    position: relative; 
    width: 800px; 
    min-height: 1690px; 
    background-color: rgb(231, 248, 253); 
    margin: 50px; 
    display: grid;
    grid-template-columns: 1fr 2fr; 
    box-shadow: 0 35px 55px rgba(0,0,0,0.2);
}

.profile {

    position: absolute;
    z-index: 6;
    left: 67%;
    top: 11%;
}

.line1 {  
    
    width: 50%;
    height: 13px;
    background-color: rgb(0, 85, 255); /* Change this to the color you want */
    position: absolute;
    top: 3%; 
    left: 5%;
    border-top-right-radius: 2000%;
    z-index: 1;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.small-sqr1 { 
    
    width: 3%;
    height: 30px;
    background-color: rgb(52, 147, 255); /* Change this to the color you want */
    position: absolute;
    top: 1.6%; 
    left: 5%;
    border-radius: 0 0px 0px 0px;
    padding-top: 0px;
    padding-left: 0px;
    transform: skewy(-30deg);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}

.name { 

    font-size: 25px;
    font-weight: 600;
    position: absolute;
    left: 10%;
    top: 1.3%;
    z-index: 2;
}

.ad {

    line-height: 3.1;
}

.header-info {  

    color: rgb(33, 134, 197);
    left: 56.9%;
    top: 3.4%;
    position: absolute;
    font-size: 10px;
    font-weight: 500;
}

.line2 {  
    
    width: 75%;
    height: 13px;
    background-color: rgb(255, 221, 0); /* Change this to the color you want */
    position: absolute;
    top: 7%; 
    left: 5%;
    border-top-right-radius: 2000%;
    z-index: 1;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.small-sqr2 { 
    
    width: 3%;
    height: 30px;
    background-color: rgb(255, 235, 123); /* Change this to the color you want */
    position: absolute;
    top: 5.3%; 
    left: 5%;
    border-radius: 0 0px 0px 0px;
    padding-top: 0px;
    padding-left: 0px;
    transform: skewy(-30deg);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}

.p-info {  
    
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    left: 10%;
    top: 5.9%;
    z-index: 2; 
}

.rocket-board {  
    
    width: 5%;
    height: 70px;
    position: absolute;
    top: 65%; 
    left: 22.9%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: rgb(231, 248, 253); 
    z-index: 4;

}

.rocket-board1 {  
    
    width: 25%;
    height: 70px;
    background-color: rgb(0, 16, 116); /* Change this to the color you want */
    position: absolute;
    top: 65%; 
    left: 25.8%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.2);
    z-index: 3;

}

.rocket-board2 {  
    
    width: 5%;
    height: 70px;
    position: absolute;
    top: 65%; 
    left: 46.9%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: rgb(231, 248, 253); 
    z-index: 2;

}

.rocket-board3 {  
    
    width: 25%;
    height: 70px;
    background-color: rgb(2, 38, 71); /* Change this to the color you want */
    position: absolute;
    top: 65%; 
    left: 49.8%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 15px 15px rgba(0,0,0,0.2);
    z-index: 1;

}

.personal-information {

     color: beige;
     position: absolute;
     font-size: 20px;
     font-weight: 1000;
     top: 67.9%;
     left: 29%;
     z-index: 5;

}

.family-information {

    color: beige;
    position: absolute;
    font-size: 20px;
    font-weight: 1000;
    top: 67.9%;
    left: 54%;
    z-index: 5;

}

.container-info {

    width: 20%;
    height: 35%;
    position: absolute;
    left: 27.7%;
    top: 30%;
    border: dotted;
    border-color: rgb(122, 122, 122);
    border-bottom: none;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
}

.container-info1 {

    width: 20%;
    height: 35%;
    position: absolute;
    left: 51.7%;
    top: 30%;
    border:dotted ;
    border-color: #7a7a7a;
    border-bottom: none;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
}

.sm {

    font-size: small;
    padding-left: 10px;
    line-height: 1.6;
    
}

.line3 {  
    
    width: 44%;
    height: 13px;
    background-color: rgb(255, 221, 0); /* Change this to the color you want */
    position: absolute;
    top: 84%; 
    left: 25.4%;
    border-top-right-radius: 2000%;
    z-index: 1;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.small-sqr3 { 
    
    width: 1.7%;
    height: 30px;
    background-color: rgb(255, 235, 123); /* Change this to the color you want */
    position: absolute;
    top: 80%; 
    left: 25.4%;
    border-radius: 0 0px 0px 0px;
    padding-top: 0px;
    padding-left: 0px;
    transform: skewy(-30deg);
    z-index: 5;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}

.personal-account {

    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 28%;
    top: 81.3%;
    z-index: 2;
    
}

.pacc1 {

    border: solid;
    color: #7a7a7a;
    position: absolute;
    width: 10%;
    padding-left: 10px;
    top: 90%;
    left: 28.0%;
    height: 10%;
    font-size: small;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
}

.label-pacc1 {

    color: #ffffff;
    position: absolute;
    width: 5.1%;
    padding-left: 5px;
    top: 93%;
    left: 24.6%;
    padding-right: 5px;
    height: 4%;
    font-size: 10px;
    background-color: yellowgreen;
    text-align: center;
    font-weight: 600;
}

.pacc2 {

    border: solid;
    color: #7a7a7a;
    position: absolute;
    width: 10%;
    padding-left: 10px;
    top: 90%;
    left: 44.0%;
    height: 10%;
    font-size: small;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
}

.label-pacc2 {

    color: #ffffff;
    position: absolute;
    width: 5.1%;
    padding-left: 5px;
    top: 93%;
    left: 40.7%;
    padding-right: 5px;
    height: 4%;
    font-size: 9.9px;
    background-color: orange;
    text-align: center;
    font-weight: 600;
    
}

.pacc3 {

    border: solid;
    color: #7a7a7a;
    position: absolute;
    width: 10%;
    padding-left: 10px;
    top: 90%;
    left: 60.0%;
    height: 10%;
    padding-right: 5px;
    font-size: small;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
}


.label-pacc3 {
    
    color: #ffffff;
    position: absolute;
    width: 5.1%;
    padding-left: 5px;
    top: 93%;
    left: 56.8%;
    padding-right: 5px;
    height: 4%;
    font-size: 10px;
    text-align: center;
    background-color: red;
    font-weight: 600;
    
}

.skills-line1 {

    width: 20%;
    height: 13px;
    background-color: rgb(255, 221, 0);/* Change this to the color you want */
    position: absolute;
    top: 115%; 
    left: 26%;
    border-top-right-radius: 2000%;
    z-index: 1;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.skills-sqr1 { 
    
    width: 1.8%;
    height: 30px;
    background-color: rgb(255, 235, 123); /* Change this to the color you want */
    position: absolute;
    top: 111%; 
    left: 26%;
    border-radius: 0 0px 0px 0px;
    padding-top: 0px;
    padding-left: 0px;
    transform: skewy(-30deg);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}

.personal-skills {

    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 33%;
    top: 112.3%;
    z-index: 2;
}

.obj-line1 {

    width: 20%;
    height: 13px;
    background-color: rgb(255, 221, 0);/* Change this to the color you want */
    position: absolute;
    top: 115%; 
    left: 54%;
    border-top-right-radius: 2000%;
    z-index: 1;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.obj-sqr1 { 
    
    width: 1.8%;
    height: 30px;
    background-color: rgb(255, 235, 123); /* Change this to the color you want */
    position: absolute;
    top: 111%; 
    left: 54%;
    border-radius: 0 0px 0px 0px;
    padding-top: 0px;
    padding-left: 0px;
    transform: skewy(-30deg);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}

.personal-obj {

    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 61%;
    top: 112.3%;
    z-index: 2;
}

.circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: none;
        position: absolute;
        border: solid;
        border-color: grey;
        top: 126%;
        left: 52%;
        z-index: 2;
        background-color: rgb(231, 248, 253);
}

.circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 138%;
    left: 55%;
    z-index: 2;
    background-color: rgb(231, 248, 253);
}

.circle3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 152%;
    left: 55%;
    z-index: 2;
    background-color: rgb(231, 248, 253);
}

.circle4 {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 165%;
    left: 52%;
    z-index: 2;
    background-color: rgb(231, 248, 253); 
}

.circle5 {

    width: 350px;
    height: 390px;
    border-radius: 50%;
    position: absolute;
    border-right:solid 10px;
    border-left: none;
    border-color: grey;
    top: 123%;
    left: 34%;
    z-index: 1;
}

.obj-1 {

    background-color: red;
    position:  absolute;
    font-size: 11px;
    width: 18%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    border-radius: 10px;
    top: 124.9%;
    left: 56%;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
}

.obj-2 {

    background-color: green;
    position:  absolute;
    font-size: 11px;
    width: 15%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    border-radius: 10px;
    top: 136.6%;
    left: 59%;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.obj-3 {

    background-color: darkviolet;
    position:  absolute;
    font-size: 11px;
    width: 15%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    border-radius: 10px;
    top: 149.8%;
    left: 59%;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.obj-4 {

    background-color: rgb(0, 144, 211);
    position:  absolute;
    font-size: 11px;
    width: 18%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    border-radius: 10px;
    top: 163.9%;
    left: 56%;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
}


.box1 {

    background-color: rgb(75, 223, 75);
    position: absolute;
    height: 50px;
    width: 15.9px;
    transform: skewY(32deg);rotate:(60deg);
    left: 36.2%;
    top: 124%;
    


}

.box1-2 {

    width: 150px;
    height: 50px;
    background-color: rgb(0, 213, 0);
    transform: skewX(0deg);rotate:(60deg);
    left: 26%;
    position: absolute;
    top: 123.5%;

}

.box1-3 {

    width: 150px;
    height: 10px;
    background-color: darkgreen;
    transform: skewX(59deg);rotate:(60deg);
    left: 30%;
    position: absolute;
    top: 130.2%;
    left: 26.5%;

}

.box2 {

    background-color: rgb(94, 230, 94);
    position: absolute;
    height: 50px;
    width: 15.9px;
    transform: skewY(32deg);rotate:(60deg);
    left: 35.1%;
    top: 141.2%;
    


}

.box2-2 {

    width: 135px;
    height: 50px;
    background-color: rgb(104, 235, 104);
    transform: skewX(0deg);rotate:(60deg);
    left: 26%;
    position: absolute;
    top: 140.5%;

}

.box2-3 {

    width: 135px;
    height: 10px;
    background-color: rgb(76, 150, 85);
    transform: skewX(59deg);rotate:(60deg);
    left: 30%;
    position: absolute;
    top: 147.2%;
    left: 26.5%;

}


.box3 {

    background-color: rgb(250, 245, 97);
    position: absolute;
    height: 50px;
    width: 15.9px;
    transform: skewY(32deg);rotate:(60deg);
    left: 33.8%;
    top: 160.2%;
    


}

.box3-2 {

    width: 115px;
    height: 50px;
    background-color: rgb(230, 230, 68);
    transform: skewX(0deg);rotate:(60deg);
    left: 26%;
    position: absolute;
    top: 159.5%;

}

.box3-3 {

    width: 115px;
    height: 10px;
    background-color: rgb(204, 183, 0);
    transform: skewX(59deg);rotate:(60deg);
    left: 30%;
    position: absolute;
    top: 166.2%;
    left: 26.5%;

}

.box4 {

    background-color: rgb(252, 134, 0);
    position: absolute;
    height: 50px;
    width: 15.9px;
    transform: skewY(32deg);rotate:(60deg);
    left: 35.2%;
    top: 180.2%;
    
}

.box4-2 {

    width: 136px;
    height: 52px;
    background-color: orange;
    transform: skewX(0deg);rotate:(60deg);
    left: 26%;
    position: absolute;
    top: 179.5%;

}

.box4-3 {

    width: 136px;
    height: 10px;
    background-color: rgb(170, 97, 0);
    transform: skewX(59deg);rotate:(60deg);
    left: 30%;
    position: absolute;
    top: 186.2%;
    left: 26.5%;

}

.box5 {

    background-color: rgb(255, 0, 0);
    position: absolute;
    height: 50px;
    width: 15.9px;
    transform: skewY(32deg);rotate:(60deg);
    left: 36.6%;
    top: 200.2%;
    
}

.box5-2 {

    width: 156px;
    height: 50px;
    background-color: rgb(220, 0, 0);
    transform: skewX(0deg);rotate:(60deg);
    left: 26%;
    position: absolute;
    top: 199.5%;

}

.box5-3 {

    width: 156px;
    height: 10px;
    background-color: rgb(170, 0, 0);
    transform: skewX(59deg);rotate:(60deg);
    left: 30%;
    position: absolute;
    top: 206.2%;
    left: 26.5%;

}

.skill1 {

    position: absolute;
    top: 126.5%;
    left: 38%;
    font-size: small;
    font-weight: bold;
}

.skill2 {

    position: absolute;
    top: 144.1%;
    left: 37%;
    font-size: small;
    font-weight: bold;
}

.skill3 {

    position: absolute;
    top: 162.5%;
    left: 36%;
    font-size: small;
    font-weight: bold;
}

.skill4 {

    position: absolute;
    top: 183%;
    left: 37%;
    font-size: small;
    font-weight: bold;
}
.skill5 {

    position: absolute;
    top: 203%;
    left: 38.3%;
    font-size: small;
    font-weight: bold;

}

.education-line2 {

    width: 25%;
    height: 13px;
    background-color: rgb(255, 221, 0);/* Change this to the color you want */
    position: absolute;
    top: 185%; 
    left: 49%;
    border-top-right-radius: 2000%;
    z-index: 1;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.education-sqr2 { 
    
    width: 1.8%;
    height: 30px;
    background-color: rgb(255, 235, 123); /* Change this to the color you want */
    position: absolute;
    top: 181%; 
    left: 49%;
    border-radius: 0 0px 0px 0px;
    padding-top: 0px;
    padding-left: 0px;
    transform: skewy(-30deg);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);

}

.personal-education {

    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: 53%;
    top: 182.3%;
    z-index: 2;
}

.mark1 {

    width: 15px;
    height: 15px;
    background-color: green;
    transform: skewX(0deg);rotate:(60deg);
    left: 50%;
    position: absolute;
    top: 194%;
}

.mark1 {

    width: 15px;
    height: 15px;
    background-color: green;
    transform: skewX(0deg);rotate:(60deg);
    left: 50%; 
    position: absolute;
    top: 194%;
}

.mark1-2 {

    width: 15px;
    height: 8px;
    background-color: rgb(94, 179, 94);
    transform: skewX(-50deg);rotate:(60deg);
    left: 50.3%;
    position: absolute;
    top: 192.9%;
}

.mark2 {

    width: 15px;
    height: 15px;
    background-color: rgb(255, 230, 0);
    transform: skewX(0deg);rotate:(60deg);
    left: 50%;
    position: absolute;
    top: 200%;
}

.mark2-2 {

    width: 15px;
    height: 8px;
    background-color: rgb(253, 255, 106);
    transform: skewX(-50deg);rotate:(60deg);
    left: 50.3%;
    position: absolute;
    top: 198.9%;
}

.mark3 {

    width: 15px;
    height: 15px;
    background-color: rgb(184, 0, 0);
    transform: skewX(0deg);rotate:(60deg);
    left: 50%;
    position: absolute;
    top: 206%;
}

.mark3-2 {

    width: 15px;
    height: 8px;
    background-color: rgb(255, 31, 31);
    transform: skewX(-50deg);rotate:(60deg);
    left: 50.3%;
    position: absolute;
    top: 205%;
}

.tertiary {

   position: absolute;
   font-size: 11px;
   top: 193%;
   left: 53%;
   width: 20%;
   font-weight: bold;


}

.secondary {

    position: absolute;
    font-size: 11px;
    top: 200%;
    left: 53%;
    width: 20%;
    font-weight: bold;
 
 
 }

 .primary {


    position: absolute;
    font-size: 11px;
    top: 206%;
    left: 53%;
    width: 20%;
    font-weight: bold;

 }

.line-h1 {

 width: 50%;
 height: .1px;
 background-color: rgb(0, 30, 255); /* Change this to the color you want */
 position: absolute;
 top: 220%; 
 left: 25%;
 z-index: 1;
 box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);

}

.line-h2 {

    width: 50%;
    height: .1px;
    background-color: rgb(0, 30, 255); /* Change this to the color you want */
    position: absolute;
    top: 227%; 
    left: 25%;
    z-index: 1;
    box-shadow: 1px 1px 6px 1px rgb(0, 0, 0);
   
   }



   .hh {

    width: 54%;
    height: 50px;
    position: absolute;
    top: 222.8%; 
    left: 23%;
    z-index: 1;
    font-size: 8px;
    text-align: center;
    color: #7a7a7a;

   }